# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\geiso\eclipse-workspace\A1_CorridaVirtual\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
